<footer>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <h5 class="white-text"> <i class="far fa-building"></i> Escola Tomorrowland!</h5>
          <p id="fraseFinal" class="grey-text text-lighten-4"> Um futuro brilhante a sua espera! Matricule-se já em nossa instituição ! </p>
        </div>
        <div class="col-md-6 col-12">
          <h5 class="grey-text text-lighten-3"> <i class="fas fa-envelope-square"></i> Entre em contato com nossa equipe: </h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="mailto:TomorrowLand@TomorrowLand.com"> <i class="fas fa-mail-bulk"></i> <strong> Entre em contato por E-MAIL e agende sua MATRICULA! </strong> </a></li>
            <li><a class="grey-text text-lighten-3"> <i class="fas fa-phone-square-alt"></i> <strong> Telefone: (11)2424254543 </strong> </a></li>
            <li><a class="grey-text text-lighten-3"><i class="fab fa-whatsapp-square"></i> <strong> WhatsApp: (11)966543721 </strong> </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="container d-flex justify-content-between">
        <span>© 2020 Copyright Text</span>
        <p> Todos os direitos reservados!</p>
      </div>
    </div>

  </footer>

  <a id="iconeTopoPG" href="#"><i class="fas fa-caret-square-up"></i></a>