<div class="list-group border border-dark mt-3">

    <h2 class="list-group-item list-group-item-action active text-center py-2">
        Lista de Professores da Tomorrowland
    </h2>

    <a id="profMat" href="https://br.linkedin.com/Thomas-Pintongoras" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> <strong>Thomas Pintongoras</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> Matemática </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong> Linkedin </strong></small>
    </a>

    <a id="profFis" href="https://br.linkedin.com/Arthur-Newton" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> <strong>Arthur Newton</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> Física </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong> Linkedin </strong></small>
    </a>

    <a id="profQui" href="https://br.linkedin.com/Georgio-de-Lavoisier" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>Georgio de Lavoisier</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> Química </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong>Linkedin</strong></small>
    </a>

    <a id="profIng" href="https://br.linkedin.com/TanTan-do-Klan" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>TanTan do Klan</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> Inglês </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong>Linkedin</strong></small>
    </a>

    <a id="profPor" href="https://br.linkedin.com/Miguel-dos-Anjos" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>Miguel dos Anjos</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> Português </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong>Linkedin</strong></small>
    </a>

    <a id="profHis" href="https://br.linkedin.com/Roberto-Drusman" class="list-group-item list-group-item-light list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>Roberto Drusman</strong></h5>
        </div>
        <p class="mb-1">Professor responsável da unidade curricular de <strong> História </strong></p>
        <small class="text-muted">Clique aqui para acessar o <strong>perfil do professor</strong> direto do <strong>Linkedin</strong></small>
    </a>

</div>