<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/7c99082bc84394e5bc9a1e25909cc5ff.png" alt="Logo da Escola" height="84">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#titulo"> <i class="far fa-building"></i> Sobre <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-briefcase"></i> Cursos</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#matematica"> <i class="fas fa-calculator"></i>
                                Matemática</a>
                            <a class="dropdown-item" href="#fisica"> <i class="fas fa-atom"></i> Física</a>
                            <a class="dropdown-item" href="#quimica"> <i class="fas fa-flask"></i> Química</a>
                            <a class="dropdown-item" href="#ingles"> <i class="fas fa-book"></i> Inglês</a>
                            <a class="dropdown-item" href="#portugues"> <i class="fas fa-parking"></i> Português</a>
                            <a class="dropdown-item" href="#historia"> <i class="fas fa-heading"></i> História</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#"> <i class="fas fa-user-graduate"></i>
                                Graduação</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="fas fa-user-tie"></i> Professores </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#profMat"> <i class="fas fa-calculator"></i> Thomas
                                Pintongoras (Matemática)</a>
                            <a class="dropdown-item" href="#profFis"> <i class="fas fa-atom"></i> Arthur Newton
                                (Física)</a>
                            <a class="dropdown-item" href="#profQui"> <i class="fas fa-flask"></i> Georgio de Lavoisier
                                (Química)</a>
                            <a class="dropdown-item" href="#profIng"> <i class="fas fa-book"></i> TanTan do Klan
                                (Inglês)</a>
                            <a class="dropdown-item" href="#profPor"> <i class="fas fa-parking"></i> Miguel dos Anjos
                                (Português)</a>
                            <a class="dropdown-item" href="#profHis"> <i class="fas fa-heading"></i> Roberto Drusman
                                (História)</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#"> <i class="far fa-handshake"></i> Seja um
                                professor </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> <i
                                class="fas fa-marker"></i> Matriculas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>