<div class="pt-3">

    <div class="col border border-dark text-center bg-primary py-2">
        <h2 class="text-light"> Cursos da Tomorrowland </h2>
    </div>

    <div class="container bg-info border border-dark p-4">

        <div class="row my-2">

            <div class="col">

                <div class="card ">

                    <div class="card-body text-center">

                        <h5 class="card-title"> <i class="fas fa-calculator"></i> Matemática </h5>
                        <a class="card-link" href="#matematica"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

            <div class="col">

                <div class="card ">

                    <div class="card-body text-center">

                        <h5 class="card-title"> <i class="fas fa-atom"></i> Física </h5>
                        <a class="card-link" href="#fisica"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

            <div class="col">

                <div class="card ">

                    <div class="card-body text-center">

                        <h5 class="card-title"><i class="fas fa-flask"></i> Química </h5>
                        <a class="card-link" href="#quimica"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

            <div class="col">

                <div class="card ">

                    <div class="card-body text-center">

                        <h5 class="card-title"> <i class="fas fa-book"></i> Inglês </h5>
                        <a class="card-link" href="#ingles"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

            <div class="col">

                <div class="card ">

                    <div class="card-body text-center">

                        <h5 class="card-title"> <i class="fas fa-parking"></i> Português </h5>
                        <a class="card-link" href="#portugues"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

            <div class="col">

                <div class="card">

                    <div class="card-body text-center">

                        <h5 class="card-title"> <i class="fas fa-heading"></i> História </h5>
                        <a class="card-link" href="#historia"> <i class="fas fa-mouse"></i> Click Aqui! </a>

                    </div>

                </div>

            </div>

        </div>

        <p class="text-center text-justify text-secondary pt-2"> Area de Acessibilidade </p>

    </div>

    <div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="matematica"><strong> Matemática: </strong></h3>

                <p class="text-justify"> “Matemática é considerado a base de tudo, e se pudéssemos calcular o impossível? E
                    assim resolver algo em todos achavam que era insolucionavel? Inspirador não? Mas para inspirar primeiro
                    precisamos estuda-las e soluciona-las. A matemática envolve muitas outras perguntas que ainda precisam de 
                    alguém para raciocina-las, desenvolve-las e soluciona-las.” <strong>~ Profº Thomas Pitongoras</strong></p>

                <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialMat" aria-expanded="false" aria-controls="materialMat">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialMat">
                    <div class="card card-body bg-warning">
                        <section>

                            <ul class="list-unstyled">
                                <li> • Trigonometria na circunferência e funções trigonométricas. </li>

                                <li> • Formulas de transformação, relação e equações trigonométricas. </li>

                                <li> • Matemática Financeira. </li>

                                <li> • Introdução a estatísticas. </li>

                                <li> • Matrizes e determinantes. </li>

                                <li> • Sistemas lineares. </li>

                                <li> • Área de figuras planas. </li>

                                <li> • Analise combinatória. </li>

                                <li> • Probabilidade. </li>

                                <li> • Expressões matemáticas de alto calibre e importância. </li>
                            </ul>

                        </section>
                    </div>
                </div>

            </div>

        </div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="fisica"><strong> Física: </strong></h3>

                <p class="text-justify"> “A Física permite-nos conhecer as leis gerais da Natureza que regulam o desenvolvimento dos processos que se verificam, 
                    tanto no Universo circundante como no Universo em geral. O objetivo da Física consiste em descobrir as leis gerais da Natureza e esclarecer, 
                    com base nelas processos concretos. Os cientistas, à medida que se aproximavam desse objetivo, iam compreendendo melhor o panorama grandioso 
                    a complexo da unidade universal da Natureza. O Universo não é um conjunto simples de acontecimentos independentes, mas todos eles constituem
                    manifestações evidentes do Universo considerado como um todo.” <strong>~ Profº Arthur Newton</strong></p>

                <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialFis" aria-expanded="false" aria-controls="materialFis">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialFis">
                    <div class="card card-body bg-warning">
                        <section>

                            <ul class="list-unstyled">
                                <li> • Teoria para a temperatura e o calor. </li>

                                <li> • Efeitos da transferência de energia. </li>

                                <li> • Maquinas térmicas. </li>

                                <li> • Luz, visão e fenômenos luminosos. </li>

                                <li> • Refração da luz. </li>

                                <li> • Forças. </li>

                                <li> • Lei fundamental dos movimentos. </li>

                                <li> • Ação e reação, inercia e conservação da quantidade de movimento. </li>

                                <li> • Gravitação. </li>

                                <li> • Estática, estática dos fluidos. </li>

                                <li> • Energia. </li>

                                <li> • Trabalho e potência. </li>

                                <li> • Cinética vetorial e escalar. </li>

                                <li> • Eletrodinâmica: aparelhos e circuitos elétricos. </li>

                                <li> • Campo elétrico, tensãocls e modelo de corrente elétrica. </li>

                                <li> • Magnetismo e eletricidade. </li>

                                <li> • Tópicos da Física Moderna. </li>
                            </ul>

                        </section>
                    </div>
                </div>

            </div>

        </div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="quimica"><strong> Química: </strong></h3>

                <p class="text-justify"> “A importância dos estudos na Química? Bom a química está em nosso cotidiano e
                    assim por dizer que a Química é a ciência central, onde estudamos todas as propriedades, características e
                    mudanças físicas e químicas da matéria, podemos analisar todos as estatísticas e porcentagens dos efeitos
                    aplicados, na qual esses dados afetam todas as outras ciências naturais. Em um universo onde conhecimento
                    também é poder, usar o potencial dos conhecimentos da química lhe trará bons domínios nas demais áreas
                    da ciência.” <strong>~ Profº Georgio de Lavoisier</strong></p>

                <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialQuic" aria-expanded="false" aria-controls="materialQuic">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialQuic">
                    <div class="card card-body bg-warning">
                        <section>
                            <ul class="list-unstyled p-2">
                                <li> • Teoria cinética dos gases. </li>

                                <li> • Equação geral dos gases. </li>

                                <li> • Misturas gasosas. </li>

                                <li> • Cálculo estequiométrico. </li>

                                <li> • Mistura de soluções. </li>

                                <li> • Reações exotérmicas e endotérmicas. </li>

                                <li> • Cálculos da variação de entalpia. </li>

                                <li> • Cinética química. </li>• Cinética química.

                                <li> • Equilíbrio dinâmico e seu deslocamento. </li>

                                <li> • Equilíbrio iônicos. </li>

                                <li> • Produto iônico da água e Kps. </li>

                                <li> • Eletrólise com eletrodos inertes. </li>

                                <li> • Eletrólise com eletrodos ativos. </li>

                                <li> • Experimentos com elementos químicos ao todo. </li>
                            </ul>

                        </section>

                    </div>

                </div>

            </div>

        </div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="ingles"> <strong> Inglês: </strong></h3>

                <p class="text-justify"> “Acredito que inglês seja essencial para o crescimento mental, profissional e evolutivo 
                    do aluno, pois consiste em uma linguagem quase mesmo universal e grandes fontes de pesquisa veem da linguagem 
                    inglesa, para as futuras grandes mentes a se tornarem aqui, quanto mais línguas aprendermos mais fonte de poder 
                    de conhecimento adquirimos! ” <strong>~ Profº TanTan do Klan</strong></p>

                <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialIng" aria-expanded="false" aria-controls="materialIng">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialIng">
                    <div class="card card-body bg-warning">
                        <section>

                            <ul class="list-unstyled">
                                <li> • Fluência em inglês: aprenda a perguntar, afirmar e negar qualquer frase em todos os tempos verbais. </li>

                                <li>• Aprenda a utilizar os 7 códigos que determinam os tempos: Do, Does, Did, Will, Would, Have e Has. </li>

                                <li>• Aprenda a utilizar os 7 códigos que determinam os tempos: Do, Does, Did, Will, Would, Have e Has. </li>

                                <li>• Entenda o correto sentido do Gonna / Going To (Código do Futuro 100%). </li>

                                <li>• Entenda como o Can (verbo Poder) e o Shall (verbo Dever) são os dois verbos mais fáceis de toda a língua inglesa. </li>

                                <li>• Aprenda +5.000 palavras em aulas e PDFs: Wh-Questions, Verbos, Pronomes, Adjetivos, Substantivos, entre muito mais vocabulários. </li>
                            </ul>

                        </section>

                    </div>

                </div>

            </div>

        </div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="portugues"> <strong> Português: </strong></h3>

                <p class="text-justify"> “Igualmente como o professor de inglês TanTan disse, acredito também que o aprender 
                    e a fluência de qualquer linguagem seja essencial para o aprimoramento mental, profissional e evolutivo do
                    aluno, principalmente para montagens de relatórios e leituras de artigos científicos. A fluência das linguagens 
                    é onde repassamos todos os conhecimentos que adquirimos, onde até mesmo um erro de virgula pode interferir
                    no conhecimento que queremos repassar.” <strong>~ Profº Miguel dos Anjos</strong></p>

                    <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialPort" aria-expanded="false" aria-controls="materialPort">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialPort">
                    <div class="card card-body bg-warning">
                        <section>

                            <ul class="list-unstyled">
                                <li>• História literária da idade média.</li>

                                <li>• Concordância nominal e verbal.</li>

                                <li>• Principais autores literários.</li>

                                <li>• O Modernismo e Pós Modernismo.</li>

                                <li>• Morfologia, sintase, semântica, preposição.</li>

                                <li>• Regência, pronomes oblíquos.</li>

                                <li>• Gramatica ao todo.</li>
                            </ul>

                        </section>

                    </div>

                </div>

            </div>

        </div>

        <div class="container border border-dark bg-warning mt-3">

            <div class="col my-2">

                <h3 id="historia"> <strong> História: </strong></h3>

                <p class="text-justify"> “Mesmo sendo uma disciplina complementar trato esta disciplina como uma fundamental
                    aos estudos, pois se não fosse os retratos históricos, muitos dos conhecimentos que adquirimos para a
                    sociedade ao todo não seriam lembrados! E assim nunca teríamos descoberto o fogo, a luz, o mal de uma
                    guerra, até mesmo os avanços que ambas as guerras propuseram a nossa comunidade, mesmo tendo muitas 
                    infelizes tragédias para esses avanços acontecerem...” <strong>~ Profº Roberto Drusman</strong></p>

                <br>

                <button class="d-block btn btn-danger" type="button" data-toggle="collapse"
                    data-target="#materialHist" aria-expanded="false" aria-controls="materialHist">
                    <h4> <strong> • Material a ser aplicado: </strong> </h4>
                </button>

                <div class="collapse" id="materialHist">
                    <div class="card card-body bg-warning">
                        <section>

                            <ul class="list-unstyled">
                                <li>• A colonização da américa espanhola. </li>

                                <li> • A colonização da américa inglesa e francesa. </li>

                                <li> • Organização político-administrativa na América portuguesa. </li>

                                <li> • O iluminismo. </li>

                                <li> • Das revoluções Inglesas a Revolução Industrial. </li>

                                <li> • A Revolução Francesa e o Império Napoleônico. </li>

                                <li> • As lutas de independência na América. </li>

                                <li> • O movimento operário e o adverso do socialismo. </li>

                                <li> • As revoluções liberais e o nacionalismo. </li>

                                <li> • O governo de D. Pedro I e o período regencial. </li>

                                <li> • O governo de D. Pedro II. </li>

                                <li> • Guerras Mundiais e demais conflitos. </li>
                            </ul>

                        </section>

                    </div>

                </div>

</div>
